@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
$main-background: #fff;
$main-color: #333;
$hover-color: #f63a3a;
$second-background: #ddd;
a{
    color: #333;
    transition: all 0.3s ease;
    &:hover{
        color: $hover-color;
    }
}
html{
    font-size: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    border: none;
}
header{
    background-color: #fff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 90;
    .header-container{
        width: 100%;
        background-color: $main-background;
        padding: 20px 10px;
        .header-content{
            max-width: 1280px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .header-logo{
                img{
                    width: 100px;
                }
            }
            .nav-container{
                .header-logo-mobile{
                    display: none;
                }
                .nav-menu{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .nav-menu-item{
                        display: block;
                        position: relative;
                        .nav-link{
                            display: flex;
                            padding: 0 15px;
                            font-size: 1.6rem;
                            font-weight: 600;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            i{
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 2rem;
                            }
                            &:hover{
                                color: $hover-color;
                            }
                        }
                        .sub-menu{
                            font-size: 1.5rem;
                            position: absolute;
                            padding: 8px 0;
                            background: #fff;
                            box-shadow: 1px 3px 3px rgba(190, 190, 190, 0.6);
                            opacity: 0;
                            visibility: hidden;
                            transform: rotateX(-90deg);
                            list-style: none;
                            transition: all 0.3s ease;
                            transform-origin: 0 0;
                            border: 1px solid #dbdbdb;
                            li{
                                a{
                                    display: block;
                                    margin: 0 20px;
                                    text-align: left;
                                    overflow: hidden;
                                    min-width: 200px;
                                    padding: 10px 0;
                                    &:hover{
                                        color: $hover-color;
                                    }
                                }
                            }
                        }
                        .sub-menu.menu-mobile{
                            display: none;
                        }
                        &:hover{
                            .sub-menu{
                                opacity: 1;
                                visibility: visible;
                                transform: rotateX(0deg);
                                z-index: 20;
                            }
                        }
                    }
                }
            }
            .menu-bar{
                display: none;
            }
        }
    }
}
.search-overlay{
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    padding: 20px 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    .search-container{
        position: relative;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .form-search{
            max-width: 600px;
            width: 100%;
            padding: 30px 20px;
            border-radius: 15px;
            .form-input-search{
                width: 100%;
                position: relative;
                input{
                    height: 50px;
                    padding: 0 65px 0 10px;
                    background-color: #fff;
                    width: 100%;
                    font-size: 18px;
                    outline: none;
                    border: 1px solid #fff;
                    display: block;
                }
                button{
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: inline-block;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    padding: 0 15px;
                    font-size: 25px;
                    background-color: $hover-color;
                    color: #fff;
                    border: 1px solid $hover-color;
                    outline: none;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: #212121;
                        color: #fff;
                        border-color: #fff;
                    }
                }
            }
        }
        .search-close{
            color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            span{
                cursor: pointer;
                width: 40px;
                height: 40px;
                background-color: $hover-color;
                color: #fff;
                border-radius: 50%;
                display: block;
                font-size: 20px;
                text-align: center;
                line-height: 40px;
                transition: all 0.3s ease;
                border: 1px solid $hover-color;
                i{
                    display: inline-block;
                }
                &:hover{
                    background-color: #212121;
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
    }
}
.search-overlay.active{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.menu-overlay{
    background-color: rgba(0,0,0,.7);
    position: fixed;
    z-index: 89;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    display: none;
}
.menu-overlay.active{
    left: 240px;
    transform: translateX(0);
}
@media screen and (max-width: 768px){
    header{
        .header-container{
            .header-content{
                .nav-container{
                    position: fixed;
                    z-index: 100;
                    top: 0;
                    left: 0;
                    width: 24rem;
                    transform: translateX(-25rem);
                    border-right: 1px solid #dbdbdb;
                    height: 100%;
                    background-color: #fff;
                    padding-top: 40px;
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    transition: transform 0.3s ease;
                    .header-logo-mobile{
                        display: block;
                        text-align: center;
                        margin-bottom: 10px;
                        img{
                            width: 120px;
                        }
                    }
                    .nav-menu{
                        display: flex;
                        flex-direction: column;
                        text-align: left;
                        .nav-menu-item{
                            display: block;
                            width: 100%;
                            .nav-link{
                                text-align: left;
                                display: flex;
                                margin: 10px 0;
                            }
                            .sub-menu{
                                position: relative;
                                transform: rotate(0deg);
                                opacity: 1;
                                visibility: visible;
                                box-shadow: none;
                                border: transparent;
                                padding: 0 5px;
                                height: 0;
                                overflow: hidden;
                            }
                            .sub-menu.menu-desktop{
                                display: none;
                            }
                            .sub-menu.menu-mobile{
                                display: block;
                            }
                        }
                    }
                }
                .nav-container.active{
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
                .menu-bar{
                    display: block;
                    width: 40px;
                    height: 40px;
                    color: #fff;
                    cursor: pointer;
                    span{
                        display: inline-block;
                        width: 100%;
                        height: 3px;
                        background-color: $hover-color;
                        position: relative;
                        transition: all 0.3s ease;
                        &::before{
                            transition: transform 0.3s ease;
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 3px;
                            top: -10px;
                            background-color: $hover-color;
                        }
                        &::after{
                            transition: transform 0.3s ease;
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 3px;
                            background-color: $hover-color;
                            top: 10px;
                        }
                    }
                }
                .menu-bar.active{
                    span{
                        background-color: #fff;
                        &::before{
                            transform: rotate(45deg);
                            top: 0;
                        }
                        &::after{
                            transform: rotate(-45deg);
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    .menu-overlay{
        display: block;
    }
}
.body-content{
    width: 100%;
}
section{
    padding: 30px 10px;
}
.center{
    text-align: center;
}
.box{
    background-color: $second-background;
    border-radius: 15px;
    margin: 15px 0;
    padding: 20px;
}
.box.box-black{
    background-color: #191919;
    box-shadow: 2px 4px 4px rgb(73, 73, 73);
}
.light-text{
    color: #fff;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.section-bg{
    width: 100%;
    background-image: url('/images/itachi.jpg');
    background-position: top center;
    background-size: cover;
    padding: 15px 0;
}
.section-bg-1{
    width: 100%;
    background-image: url('/images/nagato.jpg');
    background-position: top center;
    background-size: cover;
    padding: 15px 0;
}
.slides-top-news{
    .slides-top-new-item{
        display: block;
        position: relative;
        overflow: hidden;
        color: #fff;
        .slide-top-new-thumb{
           img{
            border-radius: 10px;
           }
        }
        .slide-top-new-overlay{
            position: absolute;
            z-index: 1;
            bottom: 0;
            width: 100%;
            height: 100%;
            padding: 30px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-image: linear-gradient(transparent,rgba(0,0,0,.3),rgba(0,0,0,.7),#000);
            .news-category{
                position: absolute;
                top: 30px;
                left: 10px;
                right: 30px;
                z-index: 5;
            }
            .news-view-top{
                position: absolute;
                top: 30px;
                right: 10px;
                right: 30px;
                z-index: 5;
            }
            .news-top-title{
                font-size: 2.6rem;
                line-height: 1.3;
            }
            .news-top-description{
                display: flex;
                margin-top: 2rem;
                align-items: center;
                p{
                    margin-right: 1rem;
                }
            }
        }
    }
}
.anime-author{
    display: flex;
    align-items: center;
    .anime-author-avatar{
        width: 50px;
        img{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .anime-author-name{
        margin-right: 5px;
        font-weight: 900;
    }
}
.widget-title{
    font-size: 1.7rem;
    line-height: 1.6;
    position: relative;
    z-index: 1;
    font-weight: 900;
    padding-left: 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    // font-family: 'Permanent Marker', cursive;
    &::before{
        content: '';
        position: absolute;
        height: 30px;
        background-color: #f63a3a;
        width: 4px;
        left: 0;
        border-radius: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.carousel-nav-center {
    position: relative;
}
.carousel-nav-center .owl-nav button i {
    font-size: 4.5rem;
}
  
.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
  
.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}
  
.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}
.carousel-nav-center .owl-nav .owl-prev.disabled, .carousel-nav-center .owl-nav .owl-next.disabled{
    display: none;
}
.owl-nav button {
    border: none;
    outline: none;
}
.owl-nav button i {
    transition: all 0.3s linear;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}
  
.owl-nav button:hover i {
    background-color: $hover-color;
    color: #fff;
}
.space-empty{
    height: 30px;
}
.empty-space{
    height: 30px;
}
.list-category{
    width: 100%;
    .list-categories{
        display: flex;
        flex-direction: column;
        .list-category-item{
            display: block;
            margin-bottom: 10px;
            a{
                display: inline-block;
                font-weight: 600;
                font-size: 1.6rem;
                i{
                    font-size: 1rem;
                    display: inline-block;
                    margin-right: 5px;
                }
            }
            span{
                transform: translateY(-5px);
                font-family: 'Permanent Marker', cursive;
                font-weight: 500;
                display: inline-block;
                font-size: 1.4rem;
                color: $hover-color;
            }
        }
    }
}
.box-item{
    background-color: #212121;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    margin-bottom: 15px;
    .box-thumb{
        width: 140px;
        overflow: hidden;
        img{
            transition: all 0.3s ease;
        }
        &:hover{
            img{
                transform: scale(1.2);
            }
        }
    }
    .box-description{
        padding: 15px 30px;
        .box-title{
            margin-bottom: 10px;
            a{
                color: #fff;
                font-size: 1.6rem;
                font-weight: 600;
                &:hover{
                    color: $hover-color;
                }
            }
        }
        .box-more{
            color: #ddd;
            display: flex;
            p{
                margin-right: 10px;
            }
        }
    }
}
.wrapper-recent-post{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .wrapper-recent-images{
        padding-right: 10px;
        position: relative;
        a{
            img{
                width: 140px;
            }
        }
        .rank{
            display: inline-block;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            vertical-align: middle;
            font-size: 1.4rem;
            color: #fff;
            background-color: $hover-color;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .wrapper-recent-des{
        .wrapper-post-category{
            margin-bottom: 5px;
            span{
                display: inline-block;
                padding: 3px 5px;
                border-radius: 4px;
                background-color: $hover-color;
                color: #fff;
                transition: all 0.3s ease;
                &:hover{
                    background-color: $main-color;
                    color: #fff;
                }
            }
        }
        .wrapper-recent-title{
            margin-bottom: 10px;
            a{
                font-weight: 600;
            }
        }
        .wrapper-recent-times{
            color: #666;
            i{
                margin-right: 5px;
            }
        }
    }
}
.wrapper-latest-post{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    .wrapper-latest-thumb{
        width: 50%;
        a{
            display: block;
            overflow: hidden;
            img{
                width: 100%;
                transition: all 0.3s ease;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
        }
    }
    .wrapper-latest-des{
        width: 50%;
        padding: 0 10px;
        .wrapper-latest-title{
            font-size: 2.2rem;
            font-weight: 900;
        }
        .wrapper-latest-author{
            margin-top: 10px;
            display: flex;
            align-items: center;
            p{
                margin: 0 3px;
            }
        }
    }
    .wrapper-latest-text{
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
.see-more{
    min-width: 120px;
    background-color: $hover-color;
    color: #fff;
    display: inline-block;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid transparent;
    &:hover{
        background-color: #fff;
        border: 1px solid $hover-color;
        color: #333;
    }
}
@media screen and (max-width: 768px){
    .wrapper-latest-post{
        flex-direction: column;
        .wrapper-latest-thumb{
            width: 100%;
        }
        .wrapper-latest-des{
            width: 100%;
        }
    }
}
.badge{
    display: inline-block;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    padding: 3px 5px;
}
.slides-video-news{
    margin-top: 15px;
    .slide-video-sm{
        .slide-video-image{
            position: relative;
            overflow: hidden;
            img{
                transition: transform 0.3s ease;
            }
            .slide-video-view{
                color: #fff;
                position: absolute;
                right: 20px;
                top: 10px;
            }
            .slide-video-info{
                position: absolute;
                bottom: 0;
                width: 100%;
                pointer-events: none;
                background-image: linear-gradient(transparent,rgba(0,0,0,.3),rgba(0,0,0,.7),#000);
                color: #fff;
            }
            &:hover{
                img{
                    transform: scale(1.2);
                }
            }
        }
    }
}
@media screen and (max-width: 639px) {
    .slides-video-news{
        .slide-video-sm{
            .slide-video-image{
                .slide-video-info{
                    padding: 20px 10px 5px;
                }
            }
        }
    }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
    .slides-video-news{
        .slide-video-sm{
            .slide-video-image{
                .slide-video-info{
                    padding: 40px 20px 10px 20px;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .slides-video-news{
        .slide-video-sm{
            .slide-video-image{
                .slide-video-info{
                    padding: 40px 20px 10px 20px;
                }
            }
        }
    }
}

// =======================  footer ===================
.scrollup{
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: $hover-color;
    color: #fff;
    border-radius: 50%;
    font-size: 3.2rem;
    cursor: pointer;
    i{
        display: inline-block;
        transition: transform 0.3s ease;
    }
    &:hover{
        i{
            transform: translateY(-7px);
        }
    }
}
.mr-b-10{
    margin-bottom: 10px;
}
.line{
    width: 100%;
    background-color: #222326;
    height: 1px;
    margin: 10px 0;
}
footer{
    width: 100%;
    .footer-container{
        background-color: #111111;
        color: #fff;
        .footer-content{
            padding: 20px 10px;
            font-size: 1.6rem;
            line-height: 1.4;
            .footer-header{
                font-size: 2.2rem;
                font-weight: 900;
                text-transform: capitalize;
                margin-bottom: 2rem;
            }
        }
    }
}
.list-links{
    list-style: none;
    a{
        display: inline-block;
        color: #eee;
        margin-bottom: 4px;
        &:hover{
            color: $hover-color;
        }
    }
}
.social-list{
    display: flex;
    .social-link{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        background-color: #212121;
        color: #fff;
        margin: 0 5px;
        &:hover{
            opacity: 0.6;
        }
    }
    .social-link.s-facebook{
        background-color: #095caa;
    }
    .social-link.s-instagram{
        background-color: #c01473;
    }
    .social-link.s-twitter{
        background-color: #57a0e4;
    }
}
.copyright{
    text-align: center;
    color: #888;
    font-family: 'Permanent Marker', cursive;
}
.signature{
    img{
        width: 140px;
    }
}